/.idea
/.replxx_history
/server.cfg
/server.cfg.bkp
*/resources/[assets]

/cache
*.txt
*.ini

# Assets #
*.meta
*.ymt
*.xml
*.dat
*.yft
*.ytd
*.ydd
*.ydr
*.zip
*.yld
*.ymf
*.yed
*.ybn
*.ymap
*.ytyp
*.cwproj
*.ycd
*ynv
*.rel
*.nametable
*.dat151
*.dat10
*.dat54
*.awc
*.gfx
